---
layout: default
title: Malarich / projects
categories:
 - projects
---

<div class="row">
	<div class="col-md-12">
		<div class="head">
			<h4>2024-, NOAA Boulder</h4>
		</div>

	{% for project in site.categories.projects %}
	{% if project.era == 'noaa' %}
		<div class="smallhead">
		<a href="{{site.baseurl}}{{ project.url }}" class="off">{{ project.longtitle }}</a>
		<div class="smallspacer"> </div>
		</div>
	{% endif %}
	{% endfor %}
	</div>	
</div>
<div class="bigspacer"> </div>

<div class="row">
	<div class="col-md-12">
		<div class="head">
			<h1 >Postdoctoral research</h1>
			<h4>2021-2024, NIST Boulder</h4>
		</div>
	{% for project in site.categories.projects %}
	{% if project.era == 'nist' %}
		<div class="smallhead">
		<a href="{{site.baseurl}}{{ project.url }}" class="off">{{ project.longtitle }}</a>
		<div class="smallspacer"> </div>
		</div>
	{% endif %}
	{% endfor %}
	</div>	
</div>
<div class="bigspacer"> </div>
<!--
<div class="row">
	<div class="col-md-12">
		<div class="smallhead">
      <p>
        I finish my PhD in December. I am searching for new projects in 2021. 
      </p>
		</div>
	</div>
</div>
-->

<div class="row">
	<div class="col-md-12">
		<div class="head">
			<h1 >PhD research</h1>
			<h4>2015-2020, CU Boulder</h4>
		</div>
	{% for project in site.categories.projects %}
	{% if project.era == 'PhD' %}
		<div class="smallhead">
		<a href="{{site.baseurl}}{{ project.url }}" class="off">{{ project.longtitle }}</a>
		<div class="smallspacer"> </div>
		</div>
	{% endif %}
	{% endfor %}
	</div>
</div>

<div class="bigspacer"> </div>
<!--
{% for project in site.categories.projects %}
	{% if project.era == 'PhD' %}

		{% cycle 'add rows': '<div class="row">', '', '' %}
			<div class="col-md-4 projectbox">
				<div class="head">
					<a href="{{ project.url }}" class="off">{{ project.title }}</a>
				</div>
				<div class="smallspacer"></div>
				<div class="note">
					<a href="{{ project.url }}" class="off">{{ project.description }}</a>
				</div>
			<div class="bigspacer"></div>
				<div class="spacer"></div>
			</div>
		{% cycle 'close rows': '', '', '</div>' %}
	{% endif %}
{% endfor %}
{% cycle 'close rows': '', '</div>', '</div>' %}	-->

<div class="row">
	<div class="col-md-12">
		<div class="head">
			<h1>Undergraduate research</h1>
			<h4> 2013-2015, Penn State</h4>
		</div>
	{% for project in site.categories.projects %}
	{% if project.era == 'undergrad' %}
		<div class="smallhead">
		<a href="{{site.baseurl}}{{ project.url }}" class="off">{{ project.longtitle }}</a>
		<div class="smallspacer"> </div>
		</div>
	{% endif %}
	{% endfor %}
	</div>
</div>

