---
layout: default
title: Home
categories:
 - home
---
<div class="row">
	<div class="col-md-12">
		<object class="pull-left biglogo" data="{{site.baseurl}}/images/portrait_square2.jpg"></object>
		<div class="bigtitle logobox">
			Nate Malarich
		</div>
	</div>
</div>

<div class="bigspacer"></div>

<div class="row">
	<div class="col-md-12">
		<div class="smallhead">
	  <p>
	    I am a research scientist in the <a class="off" href="https://csl.noaa.gov/groups/">Atmospheric Remote Sensing</a>
        group at NOAA CSL in Boulder (the Chemical Science Laboratory of the National Oceanographic and Atmospheric Administration). I use invisible pulsed lasers (specifically, the Doppler lidar) to measure wind and dust. When we put this laser in a car, ship, or airplane together with other chemical sensors, the wind measurements help us figure out exactly how much air pollution is coming from each source on the ground.	
	  </p>
	  <p>
	    Prior to NOAA, I was a research associate in the <a class="off" href="https://www.nist.gov/pml/applied-physics-division/fiber-sources-and-applications">Fiber Sources and Applications</a>
        group at NIST Boulder (the National Institute of Standards and Technology).	I used the dual frequency comb laser developed in this group
		to monitor chemicals in Earth's atmosphere. The physics technique I used from 2015-2024 for gas monitoringwas laser absorption spectroscopy.
	  </p>
      <p>
        I completed my PhD in the <a class="off" href="https://www.colorado.edu/lab/rieker/">Precision Laser Diagnostics laboratory</a> 
		at CU Boulder, where I developed absorption spectroscopy methods for combustion, astronomy, and atmospheric science.
		My dissertation is titled "Sensing in Nonuniform-Temperature Gases Enabled by Dual Frequency Comb Spectroscopy."
		My main PhD project was a math problem: how to get spatial information of how the temperature varies across a gas from a single laser measurement.
		You can find more information about that project <a class="off" href="{{site.baseurl}}/projects/tx-nonuniformity/">here</a>.
      </p>
	  <p>
	    In my undergraduate work, I worked on how to make the sensor. In my PhD, I switched from ultrasound to laser spectroscopy,
		and worked on how to extract information from the sensor, and how to integrate the sensor in scientific environments.
		Check out my <a class="off" href="{{site.baseurl}}/projects/index.html">Projects</a> page for more information.
	  <p>
		I do a lot of data fitting, of converting low-level scientific measurements (like laser spectra) into higher-level measurements (like temperature, or gas concentration) which are easier for more engineers and scientists to use.
		I enjoy the puzzles when two measurements of the same environment disagree, and I need to figure out which one to trust.
	  </p>
	  <p>
	    This website contains my professional information. You can see my papers and links to related software.
	  </p>
		</div>
	</div>
</div>

<div class="spacer"></div>

<div class="row">
	<div class="col-md-12">
		<div class="head">
			Misc
		</div>
		<div class="spacer"></div>
	</div>
</div>

<div class="row">
	<div class="col-md-12 reduced-gutter">
		<div class="pad-left">
			<ul class="list-inline">
				{% for page in site.categories.misc %}
				<li class="footernav list-inline-item">
					<i class="fa fa-angle-right"></i> <a class="off" href="{{ page.url }}">{{ page.title }}</a>
				</li>
				{% endfor %}
				<li class="footernav list-inline-item">
					<i class="fa fa-angle-right"></i> <a class="off" href="{{site.baseurl}}/about/index.html">About</a>
				</li>
				<li class="footernav list-inline-item">
					<i class="fa fa-angle-right"></i> <a class="off" href="{{site.baseurl}}/pdfs/Malarich_CV.pdf">CV</a>
				</li>
				<li class="footernav list-inline-item">
					<i class="fa fa-angle-right"></i> <a class="off" href="{{site.baseurl}}/talks/">Talks</a>
				</li>
				<li class="footernav list-inline-item">
					<i class="fa fa-angle-right"></i> <a class="off" href="https://www.colorado.edu/lab/rieker/">PhD group webpage</a>
				</li>
			</ul>
		</div>
		<div class="spacer"></div>
	</div>
</div>