---
layout: default
title: bedford lab / blog / archive
categories:
 - blog
---

<div class="row">
	<div class="col-md-12">
		<div class="centered-pills">
			<ul class="nav nav-pills note">
				<li role="presentation">
					<a class="off" href="{{site.baseurl}}/blog/">
						<i class="fa fa-refresh fa-fw"></i> Timeline
					</a>
				</li>
				<li role="presentation" class="active">
					<a class="off" href="{{site.baseurl}}/blog/archive/">
						<i class="fa fa-list-ul fa-fw"></i> Index
					</a>
				</li>
			</ul>
		</div>
		<div class="bigspacer"></div>
	</div>
</div>

{% for post in site.categories.blog %}

    {% cycle 'add rows': '<div class="row">', '', '' %}
		<div class="col-md-4 postbox">
			<div class="smallhead">
				<a href="{{site.baseurl}}{{ post.url }}" class="off">{{ post.title }}</a>
			</div>
			<div class="smallspacer"></div>
			<div class="smallnote">
				{{ post.date | date: "%-d %b %Y" }}
        {% if post.author %}
        by <a class="off" href="
          {% for member in site.categories.team %}
            {% if member.title == post.author %}
              {{ member.url }}
            {% endif %}
          {% endfor %}
        ">
        {{ post.author }}
        </a>
        {% endif %}
        {% if post.authors %}
        by
        <a class="off" href="
          {% for member in site.categories.team %}
            {% if member.title == post.authors.first %}
              {{ member.url }}
            {% endif %}
          {% endfor %}
        ">
        {{ post.authors.first }}
        </a>
        and
        <a class="off" href="
          {% for member in site.categories.team %}
            {% if member.title == post.authors.last %}
              {{ member.url }}
            {% endif %}
          {% endfor %}
        ">
        {{ post.authors.last }}
        </a>
        {% endif %}
			</div>
			<div class="bigspacer"></div>
			<div class="spacer"></div>
        </div>
    {% cycle 'close rows': '', '', '</div>' %}
{% endfor %}
{% cycle 'close rows': '', '</div>', '</div>' %}
