---
layout: default
title: Malarich / talks
categories:
 - talks
---

<div class="row">
	<div class="col-md-12">
		<div class="title">
			Conference Talks
		</div>
	</div>
</div>

<div class="bigspacer"></div>

{% for talk in site.categories.talks %}
{% unless talk.draft %}

	<div class="col-md-8">
		<div class="smallhead">
			<a href="{{site.baseurl}}{{ talk.url }}" class="off">{{ talk.title }}</a>
		</div>
  {% if talk.venue %}
		<div class="note">
			{{ talk.event }} at {{ talk.venue }}
		</div>
  {% else %}
  <div class="note">
			{{ talk.event }}
		</div>
  {% endif %}
		<div class="smallnote">
			{{ talk.date | date: "%-d %b %Y" }}
		</div>
		<div class="smallnote">
			by {{ talk.authors }}
		</div>
		<div class="bigspacer"></div>
		<div class="spacer"></div>
	</div>
{% endunless %}
{% endfor %}
