---
layout: default
title: Malarich / papers
categories:
 - papers
---
<!-- Row-ordering is messed up. See https://stackoverflow.com/questions/20924701/jekyll-automatically-processing-rows/20958473#20958473
Problem is I'm skipping around entries when if statement not satisfied, but still advancing the cycler

But the counter/modulo method is failing at compilation. Using incompatible version of Bootstrap?
IN https://stackoverflow.com/questions/2245972/modulus-or-lack-thereof-in-rubys-liquid-templating-engine, comment
Modulo must have been added in later Jekyll versions. This definitely works in my project.

Turns out bedford.io updated Bootstrap to version 4.6.0 in April 2-3 2021,
shortly before updating the papers/index.html page with the "assign" commands.

But before that commit, there's a commit with this note
LESS is (I believe) the friendly and more usable format, but newer versions of Jekyll and Bootstrap prefer SASS. Jekyll now has built in support for SASS, while LESS compilation still requires therubyracer gem which provides Javascript support. Installing therubyracer on Apple silicon has proved difficult. The aim here is a simple refactor without a difference in site appearance. There are still a couple things left to clean up however.

So it looks like I need to update the whole css directory with his version,
and then re-figure where my formatting changes went.

-->


<div class="row">
	<div class="col-md-12">
		<div class="centered-pills">
			<ul class="nav nav-pills note">
				<li role="presentation">
					<a class="off" href="{{site.baseurl}}/papers/archive/">
						<i class="fa fa-list-ul fa-fw"></i> only show first-author
					</a>
				</li>
			</ul>
		</div>
	</div>
</div>

<div class="row">
	<div class="col-md-12">
		<div class="centered-pills">
			<ul class="nav nav-pills note">
					<a class="off" href="https://scholar.google.com/citations?user=weBPf2UAAAAJ">
						<i class="ai ai-google-scholar fa-fw"></i> Google Scholar
					</a>
			</ul>
		</div>
	</div>
</div>


<div class="row">
  <div class="col-md-12">
    <h1>NIST, postdoc</h1>
	<hr style="height:2px;border:none;color:#808088;background-color:#808088;" />
  </div>
</div>
<div class="row">
{% assign counter = 0 %}
{% for paper in site.categories.papers %}
	{% if paper.era == "nist" %}
		<div class="col-md-4 paperbox">
			<div class="media">
				<a class="pull-right" href="{{site.baseurl}}{{ paper.url }}">
					<img width=100 class="media-object" src="{{site.baseurl}}{{ paper.image }}">
				</a>
				<div class="media-body">
					<div class="smallhead media-heading"><a href="{{site.baseurl}}{{ paper.url }}" class="off">{{ paper.title }}</a></div>
					<p class="note">{{ paper.ref }}</p>
				</div>
			</div>
			<div class="bigspacer"></div>
			<div class="spacer"></div>
		</div>
		{% assign counter = counter | plus: 1 %}	
		{% assign mod = counter | modulo: 3 %}
		{% if mod == 0 %}	
			  </div>
			  <div class="row">
		{% endif %}	
	{% endif %}	
{% endfor %}
</div>


<div class="row">
  <div class="col-md-12">
    <h1>CU Boulder, PhD</h1>
	<hr style="height:2px;border:none;color:#808088;background-color:#808088;" />
  </div>
</div>
<div class="row">
{% assign counter = 0 %}
{% for paper in site.categories.papers %}
	{% if paper.era == "PhD" %}
		<div class="col-md-4 paperbox">
			<div class="media">
				<a class="pull-right" href="{{site.baseurl}}{{ paper.url }}">
					<img width=100 class="media-object" src="{{site.baseurl}}{{ paper.image }}">
				</a>
				<div class="media-body">
					<div class="smallhead media-heading"><a href="{{site.baseurl}}{{ paper.url }}" class="off">{{ paper.title }}</a></div>
					<p class="note">{{ paper.ref }}</p>
				</div>
			</div>
			<div class="bigspacer"></div>
			<div class="spacer"></div>
		</div>
		
		<!-- Paper entry is in this group. Figure out which column to position the text block.  -->
		{% assign counter = counter | plus: 1 %}	
		{% assign mod = counter | modulo: 3 %}
		{% if mod == 0 %}	
			  </div>
			  <div class="row">
		{% endif %}	
	{% endif %}	
{% endfor %}
</div>

<div class="row">
  <div class="col-md-12">
    <h1>Penn State, undergrad</h1>
	<hr style="height:2px;border:none;color:#808088;background-color:#808088;" />
  </div>
</div>
<div class="row">
{% assign counter = 0 %}
{% for paper in site.categories.papers %}
	{% if paper.era == "undergrad" %}
		<div class="col-md-4 paperbox">
			<div class="media">
				<a class="pull-right" href="{{site.baseurl}}{{ paper.url }}">
					<img width=100 class="media-object" src="{{site.baseurl}}{{ paper.image }}">
				</a>
				<div class="media-body">
					<div class="smallhead media-heading"><a href="{{site.baseurl}}{{ paper.url }}" class="off">{{ paper.title }}</a></div>
					<p class="note">{{ paper.ref }}</p>
				</div>
			</div>
			<div class="bigspacer"></div>
			<div class="spacer"></div>
		</div>
		
		<!-- Paper entry is in this group. Figure out which column to position the text block.  -->
		{% assign counter = counter | plus: 1 %}	
		{% assign mod = counter | modulo: 3 %}
		{% if mod == 0 %}	
			  </div>
			  <div class="row">
		{% endif %}	
	{% endif %}	
{% endfor %}
</div>

