<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="utf-8"/>
	<title>{{ page.title }}</title>
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	
	<!-- RSS feed -->
<!--	<link rel="alternate" type="application/rss+xml" title="{{ site.name }}" href="{{ site.url }}/feed.xml">
	
    <!-- Customized Bootstrap (box formatting) + Font Awesome (icons) + Solarized -->
    <link href="{{site.baseurl}}/css/style.css" rel="stylesheet" media="screen">
	
	<!-- ArXiv/DOI... icons from academicon server -->
	<link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/jpswalsh/academicons@1/css/academicons.min.css">

	<!-- Typekit (for Adobe's sans serif font)-->
<!--	<script>
	  (function(d) {
		var config = {
		  kitId: 'xeu8jut',
		  scriptTimeout: 3000
		},
		h=d.documentElement,t=setTimeout(function(){h.className=h.className.replace(/\bwf-loading\b/g,"")+" wf-inactive";},config.scriptTimeout),tk=d.createElement("script"),f=false,s=d.getElementsByTagName("script")[0],a;h.className+=" wf-loading";tk.src='//use.typekit.net/'+config.kitId+'.js';tk.async=true;tk.onload=tk.onreadystatechange=function(){a=this.readyState;if(f||a&&a!="complete"&&a!="loaded")return;f=true;clearTimeout(t);try{Typekit.load(config)}catch(e){}};s.parentNode.insertBefore(tk,s)
	  })(document);
	</script>
	
	<!-- jQuery -->
	<script src="{{site.baseurl}}/js/jquery.min.js"></script>
	
	<!-- Bootstrap -->
	<script src="{{site.baseurl}}/js/transition.js"></script>
	<script src="{{site.baseurl}}/js/collapse.js"></script>

</head>

<body>

	<div id="header">
		<nav class="navbar navbar-expand-md navbar-light bg-navbar">
			<div class="container">
				{% if page.categories.first != 'home' %}
				<a class="navbar-brand" href="{{site.baseurl}}/">
					<img class="logo navbar-brand d-inline-block align-top ml-0 mr-1" src="{{site.baseurl}}/images/logo.svg">
					Home
				</a>
				{% else %}
				<a class="navbar-brand" href="/">
				</a>
				{% endif %}
				<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
					<span class="navbar-toggler-icon"></span>
				</button>
				<div class="collapse navbar-collapse" id="navbarNav">
					<ul class="navbar-nav nav-pills ml-auto">

						{% if page.categories.first == 'projects' %}
						<li class="nav-link active">
						{% else %}
						<li class="nav-link">
						{% endif %}
						<a class="mx-1" href="{{site.baseurl}}/projects/">Projects</a></li>
						
						{% if page.categories.first == 'papers' %}
						<li class="nav-link active">
						{% else %}
						<li class="nav-link">
						{% endif %}
						<a class="mx-1" href="{{site.baseurl}}/papers/">Papers</a></li>
						
						{% if page.categories.first == 'blog' %}
						<li class="nav-link active">
						{% else %}
						<li class="nav-link">
						{% endif %}
						<a class="mx-1" href="{{site.baseurl}}/blog/">Blog</a></li>

					</ul>
				</div>
			</div>
		</nav>
	</div>
	
	
	<div class="container mt-4">
		
	{{ content }}
	
	</div>
	
	<div id="footer"><span style="display:none">foo</span></div>
		
</body>
</html>

