---
layout: default
---

<div class="row">
	<div class="col-md-12">
		<div class="media">
			{% if page.image %}
			<img class="pull-left pad-right media-object" src="{{site.baseurl}}{{ page.image }}">
			{% endif %}
			<div class="media-body titlebox">
				<div class="bighead media-heading">
					{{ page.title }}
				</div>
				<div class="spacer"></div>
				<div class="smallhead">				
					{{ page.authors }}
				<div class="spacer"></div>
				<div class="smallhead">
					{{ page.journal }}
					({{ page.year }})	
				</div>
				</div>
			</div>
		</div>
	</div>
</div>

<div class="bigspacer"></div>

<div class="row">
	<div class="col-md-3">
		<div class="bigspacer"></div>
		<div class="glyphbox note">
			{% if page.pdf or page.arxiv or page.doi %}
			<div class="smallhead">
				Full Text
			</div>
				{% if page.pdf %}
				<div class="pad-left note">
					<div class="smallspacer"></div>
					<i class="fa fa-file-text-o fa-fw"></i>
					<a class="off" href="{{site.baseurl}}{{ page.pdf }}">{{ page.pdf | split: '/' | last }}</a>
				</div>
				<div class="bigspacer"></div>
				{% endif %}
				{% if page.doi %}
<!--				<div class="smallhead">
					DOI
				</div> -->
				<div class="pad-left note">
					<div class="smallspacer"></div>
<!--					<i class="fa fa-external-link fa-fw"></i>-->
					<i class="ai ai-doi fa-fw"></i>
					{% if page.open %}
					{% else %}
						<i class="ai ai-closed-access fa-fw"></i>
					{% endif %}
					<a class="off" href="{{ page.doi }}">{{ page.doi | remove: 'https://doi.org/'}}</a>
				</div>
				<div class="spacer"></div>
				{% endif %}
				{% if page.arxiv %}
				<div class="pad-left note">
					<div class="smallspacer"></div>
					<i class="ai ai-arxiv fa-fw"></i>
					<a class="off" href="{{ page.arxiv }}">{{ page.arxiv | remove: 'http://arxiv.org/abs/' | remove: 'https://arxiv.org/abs/'| replace: "/", "/<wbr>" }}</a>
				</div>
				<div class="bigspacer"></div>				
				{% endif %}
			{% endif %}
			{% if page.supplement %}
			<div class="smallhead">
				Supplement
			</div>
			<div class="pad-left note">
				<div class="smallspacer"></div>
				<i class="fa fa-paperclip fa-fw"></i>
				<a class="off" href="{{ page.supplement }}">{{ page.supplement | split: '/' | last }}</a>
			</div>
			<div class="bigspacer"></div>
			{% endif %}

			{% if page.github %}
			<div class="smallhead">
				GitHub
			</div>
			<div class="pad-left note">
				<div class="smallspacer"></div>
				<i class="fa fa-github-alt fa-fw"></i>
				<a class="off" href="{{ page.github }}">{{ page.github | remove: 'http://github.com/' | remove: 'https://github.com/' | replace: "/", "/<wbr>" | replace: "_", "_<wbr>" }}</a>
			</div>
			<div class="bigspacer"></div>
			{% endif %}
			{% if page.code %}
			<div class="smallhead">
				Source Code
			</div>
			<div class="pad-left note">
				<div class="smallspacer"></div>
<!--				<i class="fa fa-gitlab fa-fw"></i> -->
				<i class="ai ai-open-materials fa-fw"></i>
				<a class="off" href="{{ page.code }}">{{ page.code | remove: 'http://gitlab.com/' | remove: 'https://gitlab.com/' | replace: "/", "/<wbr>" | replace: "_", "_<wbr>" }}</a>
			</div>
			<div class="bigspacer"></div>
			{% endif %}
			{% if page.data %}
				<div class="smallhead">
					Data
				</div>
				<div class="pad-left note">
					<div class="smallspacer"></div>
					<i class="ai ai-open-materials fa-fw"></i>
					<a class="off" href="{{ page.data }}">{{page.data | remove: 'https://doi.org/'}}</a>
				</div>
				<div class="bigspacer"></div>
			{% endif %}
		</div>
	</div>
	<div class="col-md-8">
		<div class="post">
			{{ content }}
		</div>
		{% if page.bibtex %}
	        <div class="post">
				<h1 id="bibte">BibTeX</h1>
				<pre> {{ page.bibtex }} </pre>
			</div>	
		{% endif %}
	</div>
	<div class="col-md-1"></div>
</div>
