---
layout: default
---

<div class="row">
	<div class="col-md-12">
		<div class="media">
			{% if page.image %}
			<img class="pull-left pad-right media-object" src="{{ page.image }}">
			{% endif %}
			<div class="media-body titlebox">
				<div class="smallhead">
					Career: {{ page.era }}
				</div>
				<div class="smallhead">
					{{ page.year }}
				</div>				
			</div>
		</div>
	</div>
</div>

<div class="bigspacer"></div>

<div class="row">
	<div class="col-md-12">
<!--	<div class="col-md-8">
		<div class="bighead">
			{{ page.title_long }}
		</div>
	</div>	
	<div class="bigspacer" </div> -->
	<div class="col-md-8">
		<h1> {{page.longtitle}} </h1>
		<div class="post">
			{{ content }}
		</div>
	</div>
	<div class="col-md-8">
		<div class="head">
			<h2>Papers</h2>
		</div>
		<p>
		<div class="smallhead">
		{% for paper in site.categories.papers %}
			{% if paper.project contains page.title %}
				<li><a href="{{site.baseurl}}{{ paper.url }}" class="off">{{ paper.title }}</a></li>
				<div class="spacer"></div>
			{% endif %}
		{% endfor %}
		</div>
	</div>
	<div class="col-md-1"></div>
</div>