---
layout: default
---

<div class="row">
	<div class="col-md-12">
		<div class="media">
			<div class="media-body titlebox">
				<div class="title media-heading">
					{{ page.title }}
				</div>
				{% if page.eventlong %}
					<div class="smallhead">
					{{ page.eventlong }}
					</div>
				{% else %}
					<div class="smallhead">
						{{ page.event }}
					</div>				
				{% endif %}
				<div class="note">
					{{ page.date | date: "%-d %b %Y" }} at {{ page.venue }}
				</div>
				<div class="note">
					{{ page.authors }}
				</div>
				<div class="bigspacer"></div>
				<div class="spacer"></div>
			</div>
		</div>
	</div>
</div>

<div class="bigspacer"></div>

<div class="row">
	<div class="col-md-3">
		<div class="bigspacer"></div>
		<div class="glyphbox note">
			{% if page.doi %}
			<div class="smallhead">
				Proceeding
			</div>
<!--				<div class="smallhead">
					DOI
				</div> -->
				<div class="pad-left note">
					<div class="smallspacer"></div>
<!--					<i class="fa fa-external-link fa-fw"></i>-->
					<i class="ai ai-doi fa-fw"></i>
					{% if page.open %}
						<i class="ai ai-open-access fa-fw"></i>
					{% else %}
						<i class="ai ai-closed-access fa-fw"></i>
					{% endif %}
					<a class="off" href="https://doi.org/{{ page.doi }}">{{ page.doi }}</a>
				</div>
				<div class="spacer"></div>


			{% endif %} <!-- Sidebar with conference proceeding link -->





		</div>
	</div>
	<div class="col-md-1"></div>

	<div class="col-md-8">
		<div class="post">
			{{ content }}
		</div>
	</div>
	
</div>